<nav class="nav">
	<ul class="clearfix">
		<li><a href="#/">A propos <span></span></a></li>
		<!--<li><a href="#/references">References <span></span></a></li>-->
	<!--	<li ng-show="!session.hasToken()"><a href="#/register">S'inscrire <span></span></a></li>
		<li ng-show="!session.hasToken()"><a href="#/login">Déjà client ? <span></span></a></li>
		<li ng-show="session.hasToken()"><a href="#/calendar">Prendre rendez-vous <span></span></a></li>
		<li ng-show="session.hasToken()"><a href="#/account">Votre compte<span></span></a></li>
		<li ng-show="session.hasToken()"><a ng-click="logout()">Se déconnecter<span></span></a></li>-->
	</ul>
</nav>